<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MySheep | 添加用户</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" ><!--整体格式-->
  <link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css"><!--字体图标-->
  <link href="/static/css/people.css" rel="stylesheet" type="text/css" ><!-- 头部格式-->
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <script type="text/javascript">alert("{{message}}");</script>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="navbar navbar-inverse navbar-fixed-top" style="position:fixed;">
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="brand" href="/index"> <img src="/static/images/logo.png" alt="logo" class="logo" title="logo"> </a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="/static">首页</a></li>
            <li><a href="https://blog.scumman.top">我的博客</a></li>
          </ul>
          <div class="login-tool pull-right logged">
            <div class="btn-group">
              <a class="btn dropdown-toggle" href="/UserInfo.html" style="padding-right:0;">
                <img src="/static/images/user/{{session.userID}}.jpg" class="img-circle user-img">{{session.userID}}
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container" style="margin-top:100px; margin-bottom:40px;">
  <div class="row">

    <!--左侧边栏 开始-->
    <div class="span2 well side-card">
      <div class="card-list">
        <ul class="nav nav-list">
          <li class="nav-header" style="margin-left:-30px;font-size:14px;">企业中心，暂时不知道改成什么，退出按钮可用</li>
          <li><a href="#"><i class="fa fa-tags"></i> 企业信息</a></li>
          <li class="divider" style="border-bottom:1px solid #e5e5e5"></li><!--分割条-->
          <li name="services"><a href="UserInfo.html"><i class="fa fa-smile-o"></i> 用户管理</a></li>
          <li name="services"><a href="#"><i class="fa  fa-bullhorn"></i> 广告管理</a></li>
          <li name="services"><a href="#"><i class="fa  fa-calendar"></i> 任务管理</a></li>
          <li class="divider" style="border-bottom:1px solid #e5e5e5"></li>
          <li><a href ="/clear_session"><i class="fa fa-power-off"></i>退出账号</a></li>
        </ul>
      </div>
    </div>
    <!--左侧边栏 结束-->
    <div class="span10 order_title">
      <!--中部信息显示 开始-->
        <form action="/Insert" method="post">
            <div class="title">
                基本信息<small>/必填</small>
            </div>
          <div style="margin: 20px 0px">
              用户名:<a style="color: red">*</a>
              <input type="text" name="userID" value="" placeholder="用户名" size="20" autocapitalize="off" required="required">
              &nbsp;密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码:<a style="color: red">*</a>
              <input type="password" name="password" value="" placeholder="密码" size="20" required="required">
          </div>
          <div style="margin: 20px 0px">
              邮&nbsp;&nbsp;&nbsp;箱:<a style="color: red">*</a>
              <input type="email" name="email" value="" placeholder="邮箱" size="20" required="required">
              &nbsp;到期时间:<a style="color: red">*</a>
              <input type="datetime-local" name="expireDate" value="" size="20" required="required">
          </div>
          <div class="title">
              SMTP信息<small>/选填</small>
          </div>
          <div style="margin: 20px 0px">
              服务器：<input type="text" name="smtpServer" value="" placeholder="SMTP服务器" size="20">
              &nbsp;发件邮箱:<input type="email" name="smtpSender" value="" placeholder="SMTP发件邮箱" size="20">
          </div>
          <div style="margin: 20px 0px">
              密&nbsp;&nbsp;码：
              <input type="password" name="smtpPassword" value="" placeholder="SMTP密码" size="20">
          </div>
          <div style="margin: 20px 0px">
              <button class="piliang btn" type="submit">提交</button>
          </div>
        </form>

      <!--中部信息显示 结束-->
    </div>
  </div>
</div>

<!--页脚 开始-->


    <h5 class="footer-title">
      <strong>MySheep©2022版权所有</strong>
      <div style="width:500px;margin:0 auto; padding:20px 0;">
        <a href="https://beian.miit.gov.cn/#/Integrated/recordQuery" target="_blank" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
          <img src="https://blog.scumman.top/wp-content/uploads/2022/04/备案图标.png" style="float:left;">
          <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:black;">京ICP备2022003555号-2</p>
        </a>
      </div>
    </h5>

<!--页脚 结束-->

</body>
</html>